<form action="#" (ngSubmit)="submitQuestion(submitQuestionForm); submitQuestionForm.resetForm()" #submitQuestionForm="ngForm">
    <div class="row">
        <div class="col s12">
            <div class="row">

                <!-- DEBUG -->
                <div>{{question | json}}</div>

                <!-- Categories  -->
                <div *ngIf="!!categories.length" class="input-field col s12">
                    <select id="category-select" materialize="material_select" [(ngModel)]="question.category" (ngModelChange)="onCategoryChange()"
                        name="categoryId">
                      <option value="" disabled selected>Choose a category...</option>
                      <option [ngValue]="cat" *ngFor="let cat of categories">{{ cat.title }}</option>
                    </select>
                    <label>Category</label>
                </div>

                <!-- Sub Categories -->
                <div *ngIf="!!subCategories.length && !!showSubCategory && hasCategory()" class="input-field col s12">
                    <select id="subcategory-select" materialize="material_select" [(ngModel)]="question.subCategory" name="subCategoryId">
                      <option value="" disabled selected>Choose a sub category..</option>
                      <option [ngValue]="subcat" *ngFor="let subcat of subCategories">{{ subcat.title }}</option>
                    </select>
                    <label>Sub Category</label>
                </div>

                <!-- Would You Rather -->
                <div *ngIf="hasMaxNumberOfChoices()">
                    <div class="input-field col s6">
                        <input [(ngModel)]="question.questionItems[0]" minlength="minLengthOfMultiInputs" name="questionText" placeholder="" id="question"
                            type="text" class="validate">
                        <label for="question">{{determindQuestionItemLabel(question.category, 0)}}</label>
                    </div>
                    <div class="input-field col s6">
                        <input [(ngModel)]="question.questionItems[1]" minlength="minLengthOfMultiInputs" name="questionText" placeholder="" id="question"
                            type="text" class="validate">
                        <label for="question">{{determindQuestionItemLabel(question.category, 1)}}</label>
                    </div>
                </div>

                <!-- Has Variable count of NumberOfChoices -->
                <div [ngSwitch]="determineNumberOfInputFields()" *ngIf="!hasMaxNumberOfChoices()">

                    <!-- Single Input Field -->
                    <div *ngSwitchCase="1">
                        <div class="input-field col s12">
                            <input [(ngModel)]="question.questionText" name="questionText" placeholder="" id="question" type="text" class="validate">
                            <label for="question">{{determindQuestionItemLabel(question.category, 0)}}</label>
                        </div>
                    </div>

                    <!-- Switch 3 -->
                    <div *ngSwitchCase="3">

                        <div class="row">
                            <div class="input-field col s4" *ngFor="let item of questionItems;let i=index; trackBy: indexTrackBy">
                                <input [value]="question.questionItems[i]" minlength="minLengthOfMultiInputs" [(ngModel)]="question.questionItems[i]" id="questionInput{{i}}"
                                    name="questionInput{{i}}" placeholder="" type="text" class="validate">
                                <label for="input{{i}}">{{determindQuestionItemLabel(question.category, i)}}</label>
                            </div>
                        </div>

                    </div>

                    <!-- Switch 5 -->
                    <div *ngSwitchCase="5">

                        <div class="row">
                            <div class="input-field col s2" *ngFor="let item of questionItems;let i=index; trackBy: indexTrackBy">
                                <input [value]="question.questionItems[i]" minlength="minLengthOfMultiInputs" [(ngModel)]="question.questionItems[i]" id="questionInput{{i}}"
                                    name="questionInput{{i}}" placeholder="" type="text" class="validate">
                                <label for="input{{i}}">{{determindQuestionItemLabel(question.category, i)}}</label>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Tags -->
                <div *ngIf="!!tags.length" class="input-field col s12">
                    <select id="tag-select" multiple materialize="material_select" [(ngModel)]="question.tags" name="tag">
                    <option value="" disabled selected>Choose a tag...</option>
                    <option [ngValue]="tag" *ngFor="let tag of tags">{{ tag.title }}</option>
                  </select>
                    <label>Tag</label>
                </div>

                <div class="divider"></div>

                <!-- Submit Button -->
                <div class="row">
                    <div class="col m12">
                        <p class="right-align">
                            <button class="right-align btn waves-effect waves-light" type="submit" name="action" [disabled]="!isValidForm()">Submit
                              <i class="material-icons right">send</i>
                            </button>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>