<div class="row">
    <div class="col s12 m8 l8 offset-l2 offset-m2">
        <div class="card z-depth-5">

            <div class="card-content center-items">
                <div class="card-title">Sign In using one of the methods below</div>
                <button class="google-signin btn waves-effect waves-light" type="submit" (click)="signInGoogle()"></button>
                <button class="facebook-signin btn waves-effect waves-light" type="submit" (click)="signInFacebook()">Facebook</button>
                <button class="twitter-blue btn waves-effect waves-light" type="submit" (click)="signInTwitter()">Twitter</button>
            </div>

        </div>
    </div>
</div>