<div class="row">

    <div class="col s12">
        <h2 class="header">Overview</h2>

        <div class="row">

            <!-- Favorited Questions -->
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>Favorited Questions</h4>
                </li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
            </ul>

            <!-- Submitted Questions -->
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>Submitted Questions</h4>
                </li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
            </ul>

            <!-- Upvoted Questions -->
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>Upvoted Questions</h4>
                </li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
                <li class="collection-item">Question Title, Date Actioned, Tags</li>
            </ul>

        </div>

    </div>

</div>