<!-- <div class="mdl-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><a class="mdl-navigation__link app-link" href="#">{{title}}</a></span>
      <span class="mdl-layout-title"><a class="mdl-navigation__link app-link" routerLink="/addquestion">Add</a></span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" [hidden]="(authService.isAuthenticated())" routerLink="/login">Login</a>
        <a class="mdl-navigation__link" [hidden]="(authService.isAuthenticated())" (click)="signInAnonymously()" href="#">Anonymous Login</a>
        <a class="mdl-navigation__link" [hidden]="(!authService.isAuthenticated())" (click)="logOut()" href="#">Logout</a>
      </nav>


      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
                    <i class="material-icons">search</i>
                </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-expandable" [ngModel]="searchFilter" (ngModelChange)="onChange($event)"
          />
          <label class="mdl-textfield__label" for="search-expandable">Search text</label>
        </div>
      </div>

    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><a class="mdl-navigation__link app-link" href="#">{{title}}</a></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [hidden]="(authService.isAuthenticated())" routerLink="/login">Login</a>
      <a class="mdl-navigation__link" [hidden]="(authService.isAuthenticated())" (click)="signInAnonymously()" href="#">Anonymous Login</a>
      <a class="mdl-navigation__link" [hidden]="!(authService.isAuthenticated())" (click)="logOut()" href="#">Logout</a>
    </nav>
  </div>

</div> -->

<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">{{ title }}</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [hidden]="(authService.isAuthenticated())" routerLink="/login">Login</a></li>
      <li><a [hidden]="(authService.isAuthenticated())" (click)="signInAnonymously()" href="#">Anonymous Login</a></li>
      <li><a [hidden]="(authService.isAuthenticated())" (click)="logOut()" href="#">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a [hidden]="(authService.isAuthenticated())" routerLink="/login">Login</a></li>
      <li><a [hidden]="(authService.isAuthenticated())" (click)="signInAnonymously()" href="#">Anonymous Login</a></li>
      <li><a [hidden]="(authService.isAuthenticated())" (click)="logOut()" href="#">Logout</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a routerLink="/addquestion">Add</a></li>
      <!-- <li class="tab"><a class="active" href="#test2">Test 2</a></li>
      <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
      <li class="tab"><a href="#test4">Test 4</a></li> -->
    </ul>
  </div>
</nav>
<!-- <div id="test1" class="col s12">Add</div>
<div id="test2" class="col s12">Test 2</div>
<div id="test3" class="col s12">Test 3</div>
<div id="test4" class="col s12">Test 4</div> -->