/* You can add global styles to this file, and also import other style files */
body {
	// background-color: #BDBDBD;
}
#toast-container {
	top: auto !important;
	bottom: 1%;
	left: auto !important;
	right: 2%;
}
